<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #111111;
            color: #fff;
        }

        .card {
            background-color: #111;
            color: #fff;
            border: white;
        }

        .form-control::placeholder {
            color: #888;
        }


        body {
            font-family: 'Roboto', sans-serif;
        }
    </style>
    <!-- Link para a fonte Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
</head>
{% include 'contents/navbar.html' %}
<body class="table-bordered">

<div class="container  table-active text-white mt-4">
    <div class="row">
        <div class="col-md-3">
            <div class="card bg-dark row sidebar mb-3">
                <div class="card-body">
                    <div class="d-flex card-title align-items-center justify-content-between">
                        <h5 class="fw-bold">Profile of {{ user.username }}</h5>

                        {% if current_user != user and current_user.is_authenticated %}
                            {% if is_following %}
                                <form method="post" action="{{ url_for('profile', username=username) }}">
                                    <input type="hidden" name="action" value="unfollow">
                                    <button type="submit" class="btn  btn-sm btn-danger">Unfollow</button>
                                </form>
                            {% else %}
                                <form method="post" action="{{ url_for('profile', username=username) }}">
                                    <input type="hidden" name="action" value="follow">
                                    <button type="submit" class="btn btn-sm btn-primary">Follow</button>
                                </form>
                            {% endif %}
                        {% endif %}











                    </div>

                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="content">
                <!-- Posts do usuário -->
                {% for post in user.posts | sort(attribute='created_at', reverse=True)%}
                <div class="card bg-dark mb-3">
                    <div class="card-header text-white">
                        <div class="d-flex justify-content-between">
                            <p class="card-title mb-0">@{{ user.username }}</p>
                            <p class="card-text text-light-emphasis mb-0">Posted at {{ post.created_at }}</p>
                        </div>
                    </div>
                    <div class="card-body">
                        <p class="card-text">{{ post.content }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-md-3">
            <div class="card bg-dark sidebar mb-3">
                <div class="card-body">
                    <h5 class="card-title fw-bold">Friends</h5>
                   {% for user in users %}
                       {% if user != current_user %}
                    <p><a href="{{ url_for('profile', username=user.username) }}">{{ user.username }}</a></p>
                       {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
